@import url('https://fonts.googleapis.com/css2?family=Ultra&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
background-size: cover;
background-repeat: no-repeat;
}
.area,
.buttons {
    position: absolute;
    background-repeat: no-repeat;
}

.area {
    width: 0;
    height: 0;
/*         background: rgba(0, 200, 0, 0.5);*/
}

a {
    color: magenta;
    text-decoration: none;
    font-size: 24px;
    font-family: 'Ultra', serif;

}


.buttons {
    width: 30px;
    height: 150px;
    background-color: rgba(38, 0, 200, 0.5);
    
}

.area a,
.buttons a {
    display: inline-block;
    width: 100%;
    height: 100%;

}

@media only screen and (min-width: 600px) {}
